---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";

import { SITE } from "@config";
import groupPostsByDate from "@utils/getGroupedPosts.ts";
import SearchCard from "@components/search/SearchCard";

const posts = await getCollection("blog");

const groupedPosts = groupPostsByDate(posts);
---

<Layout title={`Archive | ${SITE.title}`}>
	<Header activeNav="archive" />

	<Main pageTitle="Archive" pageDesc="All posts">
		<div>
			{
				Object.keys(groupedPosts).map(year => (
					<div class="archive-year">
						<h2 class="archive-year-header" id={year}>
							<a class="archive-header-link" href={`#${year}`}>
								{year}
							</a>
							<sup class="archive-count">
								&nbsp;{Object.values(groupedPosts[year]).flat().length}
							</sup>
						</h2>
						{Object.keys(groupedPosts[year]).map(month => (
							<div class="archive-month">
								<h3 class="archive-month-header" id={`${year}-${month}`}>
									<a class="archive-header-link" href={`#${year}-${month}`}>
										{month}
									</a>
									<sup class="archive-count">
										&nbsp;{groupedPosts[year][month].length}
									</sup>
								</h3>
								<div class="archive-posts">
									{groupedPosts[year][month].map(post => (
										<SearchCard
											href={`${SITE.base}/posts/${post.slug}/`}
											frontmatter={post.data}
										/>
									))}
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</Main>

	<Footer />
</Layout>

<style>
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
	}

	h2 {
		font-size: 1.5em;
		font-weight: bold;
	}

	h3 {
		font-size: 1.17em;
		font-weight: bold;
	}

	.archive-posts {
		width: 100%;
		font-size: 16px;
	}

	.archive-year {
		margin-top: 40px;
	}

	.archive-year:not(:last-of-type) {
		border-bottom: 2px solid var(--border);
	}

	.archive-month {
		display: flex;
		align-items: flex-start;
		padding: 10px 0;
	}

	.archive-month-header {
		margin: 25px 0;
		width: 200px;
	}

	.archive-month:not(:last-of-type) {
		border-bottom: 1px solid var(--border);
	}

	.archive-entry {
		position: relative;
		padding: 5px;
		margin: 10px 0;
	}

	.archive-entry-title {
		margin: 5px 0;
		font-weight: 400;
	}

	.archive-count,
	.archive-meta {
		color: rgb(155, 156, 157);
		font-size: 14px;
	}
</style>
