---
import { slugifyStr } from "@utils/slugify";
import DateTime from "@components/search/Datetime.tsx";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import generateUrlWithSiteBase from "@utils/generateUrlWithSiteBase";

interface Props {
	href?: string;
	frontmatter: CollectionEntry<"blog">["data"];
	showCoverImage?: boolean;
}

const { href, frontmatter, showCoverImage = true } = Astro.props;

const { title, author, description, ogImage, pubDatetime, modDatetime } =
	frontmatter;

var showImage: boolean = showCoverImage;

if (ogImage === undefined) {
	showImage = false;
}

var ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;

if (ogImageUrl)
	ogImageUrl = generateUrlWithSiteBase(ogImageUrl, Astro.url);
else 
	ogImageUrl = ""
---

<div class="card">
	{
		showImage ? (
			<Image
				src={ogImageUrl}
				alt={title}
				height={1}
				width={1}
				loading={"eager"}
				style={`view-transition-name: ${slugifyStr(ogImageUrl)}`}
			/>
		) : null
	}

	<a
		class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
		href={href}
	>
		<h2
			class="text-xl font-medium decoration-dashed hover:underline"
			style={`view-transition-name: ${slugifyStr(title)}`}
		>
			{title}
		</h2>
	</a>

	<div class="flex items-center space-x-2 opacity-80">
		<DateTime pubDatetime={pubDatetime} modDatetime={modDatetime} />
		<span aria-hidden="true"> · </span>
		<span> {author} </span>
	</div>

	<p>{description}</p>

	<a class="entry-link" href={href}></a>
</div>

<style>
	.card {
		@apply mt-7 rounded-md bg-skin-card p-7 transition-shadow duration-200 hover:shadow-lg;

		position: relative;
	}
	img {
		@apply mb-4 max-h-96 w-full rounded-lg object-cover;
	}

	a {
		@apply w-full;
	}

	.entry-link {
		pointer-events: painted;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
</style>
