---
import { slugifyStr } from "@utils/slugify";
import DateTime from "@components/search/Datetime.tsx";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@config";

interface Props {
	href?: string;
	frontmatter: CollectionEntry<"blog">["data"];
	showCoverImage?: boolean;
}

const { href, frontmatter, showCoverImage = true } = Astro.props;

const { title, author, description, ogImage, pubDatetime, modDatetime } =
	frontmatter;

const headerProps = {
	style: { viewTransitionName: slugifyStr(title) },
	class: "text-xl font-medium decoration-dashed hover:underline",
};

var showImage: boolean = showCoverImage;

if (ogImage === undefined) {
	showImage = false;
}

var ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;

ogImageUrl = ogImageUrl?.startsWith("http")
	? ogImageUrl
	: `${SITE.base}/${ogImageUrl}`;

const imageProps = {
	src: ogImageUrl,
	alt: title,
	style: { viewTransitionName: slugifyStr(ogImageUrl) },
};
---

<div class="card">
	{showImage ? <img {...imageProps} /> : null}
	<a
		class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
		href={href}
	>
		<h2 {...headerProps}>
			{title}
		</h2>
	</a>

	<div class="flex items-center space-x-2 opacity-80">
		<DateTime pubDatetime={pubDatetime} modDatetime={modDatetime} />
		<span aria-hidden="true"> · </span>
		<span> {author} </span>
	</div>

	<p>{description}</p>

	<a class="entry-link" href={href}></a>
</div>

<style>
	.card {
		@apply mt-7 rounded-md bg-skin-card p-7;

		position: relative;
	}
	img {
		@apply mb-4 max-h-96 w-full rounded-lg object-cover;
	}

	a {
		@apply w-full;
	}

	.entry-link {
		pointer-events: painted;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
</style>
